$primaryColor: #fff;
$accentColor: rgb(23, 228, 255);
$accentColor2: rgb(137, 201, 209);
$backgroundColor: rgba(20,20,20,1);

$breakpoints: (
  mobile: 480px,
  tablet: 768px,
  laptop: 1240px,
  desktop-lg: 1800px
);

@mixin breakpoint($breakpoint, $direction) {
  @if map-has-key($breakpoints, $breakpoint) {

    // Get the breakpoint value.
    $breakpoint-value: map-get($breakpoints, $breakpoint);
    
    @if $direction == max {
      @media (max-width: ($breakpoint-value - 1)) {
        @content;
      }
    } @else if $direction == min {      
      @media (min-width: $breakpoint-value) {
        @content;
      }
    } 
  
  // If the breakpoint doesn't exist in the map.
  } @else {
    @if $direction == max {
      @media (max-width: $breakpoint) {
        @content;
      }
    } @else if $direction == min {      
      @media (min-width: $breakpoint) {
        @content;
      }
    }  
  }
}

@mixin flexBetween {
  display: flex;
  justify-content: space-between;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin navLink {
  color: $primaryColor; 
  font-size: 13px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@mixin heading {
  color: $accentColor;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  margin-left: -3rem;
}

.hidden {
  display: none;
}