$primaryColor: rgba(200,200,200,0.8);
$accentColor: rgb(200, 0, 0);
$backgroundColor: rgba(0,0,0,0.8);

header {
  background-color: $backgroundColor;
  display: flex;
  justify-content: space-between;
}

.navLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  color: red;
}

nav {
  display: flex;
  justify-content: space-evenly;
  padding-top: 2vh;
}

.navMenu {
  display: flex;
  justify-content: 'space-evenly';
  list-style: none;
}

.navMenu li {
  margin: 0px 5px;
}

.resumeButton {
  color: $accentColor;
  background-color: transparent;
  border: 1px solid $accentColor;
  padding: 0px 5px;
  border-radius: 5px;
  /* line-height: 1; */
  margin: 0 20px 20px 10px;
  text-decoration: none;
}

